@import "include";
ul.indextop {
  width: fit-content;
  font-size: 16px;
  color: #8e8e8e;
  display: flex;
  margin: 0 auto;
  li {
    padding: 20px 30px;
  }
}

div.a1 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  div.leftcontent {
    width: 464px;
    ul.yizhidao {
      padding-top: 16px;
      li {
        font-size: 16px;
        line-height: 38px;
        @include font-overflow(38px);
        &:nth-child(3n) {
          border-bottom: 1px solid #eee;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .slideBox {
    $width: 688px;
    $height: 430px;
    width: $width;
    height: $height;
    overflow: hidden;
    position: relative;
    .hd {
      height: 4px;
      overflow: hidden;
      position: absolute;
      left: 300px;
      bottom: 25px;
      z-index: 1;
      ul {
        overflow: hidden;
        zoom: 1;
        float: left;
        li {
          float: left;
          margin-right: 7px;
          width: 25px;
          height: 4px;
          background: #888;
          cursor: pointer;
          &.on {
            background: #db3a45;
          }
        }
      }
    }
    .bd {
      position: relative;
      height: 100%;
      z-index: 0;
      li {
        position: relative;
        zoom: 1;
        vertical-align: middle;
        h1 {
          position: absolute;
          font-size: 30px;
          color: #fff;
          text-align: center;
          bottom: 60px;
          left: 0;
          width: 100%;
        }
        img {
          width: $width;
          height: $height;
          display: block;
        }
      }
    }
    .next {
      left: auto;
      right: 3%;
      background-position: 8px 5px;
    }
    .prevStop {
      display: none;
    }
    .nextStop {
      display: none;
    }
  }
}

img.titcommon {
  display: block;
  margin: 60px auto 40px;
}
div.a2 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  div.leftc {
    $width: 516px;
    width: $width;
    img {
      display: block;
      width: $width;
      height: 337px;
    }
    h1 {
      font-size: 22px;
      line-height: 70px;
      text-align: center;
      @include font-overflow(70px);
    }
    h2 {
      font-size: 14px;
      line-height: 26px;
      color: #52514f;
      @include font-overflow-more(2);
    }
  }
  div.rightc {
    position: relative;
    $width: 300px;
    $height: 463px;
    img {
      display: block;
      width: $width;
      height: $height;
    }
    h1 {
      position: absolute;
      padding: 30px 30px 0;
      height: 96px;
      font-size: 20px;
      line-height: 30px;
      left: 0;
      bottom: 0;
      background: rgba($color: #000000, $alpha: 0.65);
      color: #fff;
    }
  }
}

ul.jiaoyiz {
  $width: 283px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  li {
    position: relative;
    width: $width;
    img {
      display: block;
      &.play {
          display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        margin: 0 auto;
      }
      &.content {
        width: $width;
        height: 179px;
      }
    }
    &:hover{
        img.play{
            display: block;
        }
    }
    h1 {
      padding-top: 10px;
      font-size: 16px;
      line-height: 24px;
      color: #52514f;
      @include font-overflow-more(2);
    }
  }
}
div.yibaibai {
  $height: 444px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  div.shuzimsg {
    $width: 892px;
    width: $width;
    height: 319px;
    padding-top:125px;
    background: url(../img/index/index9.jpg) center top no-repeat;
    .barrager {
      width: 892px;
      height: 326px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      div {
        position: absolute;
        span {
            font-size: 16px;
          display: inline-block;
          border: 1px solid #bfbfbf;
          padding: 10px;
          border-radius: 10px;
          i {
            font-style: normal;
            color: #000;
          }
        }
      }
    }
  }
  ul.rightbox {
    width: 253px;
    img {
      display: block;
      width: 100%;
      height: 170px;
    }
    h1 {
      @include font-overflow(25px);
      font-size: 16px;
      line-height: 1.6;
      padding: 20px 0;
    }
  }
}

div.fupiao {
  position: fixed;
  width: 40px;
  left: 50%;
  top: 325px;
  margin-left: 650px;
  z-index: 1;
  img {
    display: block;
  }
  .phone {
    position: relative;
    .out {
      display: none;
      width: 126px;
      padding: 15px 30px;
      left: -193px;
      top: 1px;
      position: absolute;
      border: 3px solid #000;
      background: #fff;
      h1 {
        font-size: 14px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  .ewm {
    position: relative;
    .out {
      display: none;
      padding: 15px 10px 8px;
      left: -403px;
      top: 1px;
      position: absolute;
      border: 1px solid #000;
      background: #fff;
      width: 380px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      li {
        img {
          margin: 0 auto;
        }
        width: 120px;
        font-size: 14px;
        text-align: center;
        line-height: 2;
      }
    }
  }
  img.totop {
    cursor: pointer;
  }
  img.close {
    cursor: pointer;
  }
}
