ul.indextop {
  width: fit-content;
  font-size: 16px;
  color: #8e8e8e;
  display: flex;
  margin: 0 auto;
}

ul.indextop li {
  padding: 20px 30px;
}

div.a1 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

div.a1 div.leftcontent {
  width: 464px;
}

div.a1 div.leftcontent ul.yizhidao {
  padding-top: 16px;
}

div.a1 div.leftcontent ul.yizhidao li {
  font-size: 16px;
  line-height: 38px;
  height: 38px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.a1 div.leftcontent ul.yizhidao li:nth-child(3n) {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.a1 .slideBox {
  width: 688px;
  height: 430px;
  overflow: hidden;
  position: relative;
}

div.a1 .slideBox .hd {
  height: 4px;
  overflow: hidden;
  position: absolute;
  left: 300px;
  bottom: 25px;
  z-index: 1;
}

div.a1 .slideBox .hd ul {
  overflow: hidden;
  zoom: 1;
  float: left;
}

div.a1 .slideBox .hd ul li {
  float: left;
  margin-right: 7px;
  width: 25px;
  height: 4px;
  background: #888;
  cursor: pointer;
}

div.a1 .slideBox .hd ul li.on {
  background: #db3a45;
}

div.a1 .slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 0;
}

div.a1 .slideBox .bd li {
  position: relative;
  zoom: 1;
  vertical-align: middle;
}

div.a1 .slideBox .bd li h1 {
  position: absolute;
  font-size: 30px;
  color: #fff;
  text-align: center;
  bottom: 60px;
  left: 0;
  width: 100%;
}

div.a1 .slideBox .bd li img {
  width: 688px;
  height: 430px;
  display: block;
}

div.a1 .slideBox .next {
  left: auto;
  right: 3%;
  background-position: 8px 5px;
}

div.a1 .slideBox .prevStop {
  display: none;
}

div.a1 .slideBox .nextStop {
  display: none;
}

img.titcommon {
  display: block;
  margin: 60px auto 40px;
}

div.a2 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

div.a2 div.leftc {
  width: 516px;
}

div.a2 div.leftc img {
  display: block;
  width: 516px;
  height: 337px;
}

div.a2 div.leftc h1 {
  font-size: 22px;
  line-height: 70px;
  text-align: center;
  height: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.a2 div.leftc h2 {
  font-size: 14px;
  line-height: 26px;
  color: #52514f;
  display: block;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.a2 div.rightc {
  position: relative;
}

div.a2 div.rightc img {
  display: block;
  width: 300px;
  height: 463px;
}

div.a2 div.rightc h1 {
  position: absolute;
  padding: 30px 30px 0;
  height: 96px;
  font-size: 20px;
  line-height: 30px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
}

ul.jiaoyiz {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

ul.jiaoyiz li {
  position: relative;
  width: 283px;
}

ul.jiaoyiz li img {
  display: block;
}

ul.jiaoyiz li img.play {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  margin: 0 auto;
}

ul.jiaoyiz li img.content {
  width: 283px;
  height: 179px;
}

ul.jiaoyiz li h1 {
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #52514f;
  display: block;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.yibaibai {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

div.yibaibai div.shuzimsg {
  width: 892px;
  height: 444px;
  background: url(../img/index/index9.jpg) center top no-repeat;
}

div.yibaibai ul.rightbox {
  width: 253px;
}

div.yibaibai ul.rightbox img {
  display: block;
  width: 100%;
  height: 170px;
}

div.yibaibai ul.rightbox h1 {
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 0;
}

div.fupiao {
  position: fixed;
  width: 40px;
  left: 50%;
  top: 325px;
  margin-left: 650px;
  z-index: 1;
}

div.fupiao img {
  display: block;
}

div.fupiao .phone {
  position: relative;
}

div.fupiao .phone .out {
  display: none;
  width: 126px;
  padding: 15px 30px;
  left: -193px;
  top: 1px;
  position: absolute;
  border: 3px solid #000;
  background: #fff;
}

div.fupiao .phone .out h1 {
  font-size: 14px;
}

div.fupiao .phone .out h2 {
  font-size: 20px;
}

div.fupiao .ewm {
  position: relative;
}

div.fupiao .ewm .out {
  display: none;
  padding: 15px 10px 8px;
  left: -403px;
  top: 1px;
  position: absolute;
  border: 1px solid #000;
  background: #fff;
  width: 380px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

div.fupiao .ewm .out li {
  width: 120px;
  font-size: 14px;
  text-align: center;
  line-height: 2;
}

div.fupiao .ewm .out li img {
  margin: 0 auto;
}

div.fupiao img.totop {
  cursor: pointer;
}

div.fupiao img.close {
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */