@charset "UTF-8";
/***************公共样式**************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  font-family: Microsoft YaHei;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

img {
  border: 0;
}

dl {
  margin: 0;
  padding: 0;
}

dl dd {
  margin: 0;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clear {
  clear: both;
  line-height: 0;
  padding: 0;
  margin: 0;
}

input,
select {
  padding: 0;
  border: 1px solid #dcdcdc;
  display: block;
  background: #fff;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:focus,
select:focus {
  outline: none;
  background: #fff;
  color: #333;
  border: 1px solid #dcdcdc;
}

[v-cloak] {
  display: none;
}

/**广告位样式**/
div.ad1-1 {
  width: 1200px;
  margin: 0 auto;
}

div.ad1-1 div {
  padding-bottom: 20px;
}

div.ad1-1 div img {
  display: block;
}

div.ad2-1 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

div.ad2-1 div.bantong {
  width: 594px;
}

div.ad2-1 div.bantong div {
  padding-bottom: 20px;
}

div.ad3-1 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

div.ad3-1 div.ad3-1min {
  width: 384px;
}

div.ad3-1 div.ad3-1min div {
  padding-bottom: 20px;
}

/**广告位样式-END**/
/**顶部include调用**/
div.topinclude div.topimg {
  height: 46px;
  background: url(../img/common/common1.jpg) center center;
}

div.topinclude img.logo {
  display: block;
  margin: 30px auto;
}

div.topinclude div.column {
  width: 100%;
  border-bottom: 2px solid #000;
}

div.topinclude div.column div.column1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

div.topinclude div.column div.column1200 ul.col {
  margin: 0 auto 20px;
  width: fit-content;
  display: flex;
}

div.topinclude div.column div.column1200 ul.col li {
  font-size: 22px;
  position: relative;
  padding: 0 30px;
}

div.topinclude div.column div.column1200 ul.col li::after {
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  content: "";
  height: 20px;
  width: 0;
  border-left: 1px solid #000;
}

div.topinclude div.column div.column1200 ul.col li:last-child::after {
  border: none;
}

div.topinclude div.column div.column1200 ul.col li.on {
  color: red;
}

div.topinclude div.column div.column1200 form#searchform {
  width: 118px;
  padding: 0 10px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

div.topinclude div.column div.column1200 form#searchform input#contentKey {
  width: 100px;
  height: 28px;
  line-height: 28px;
  border: none;
  float: left;
}

div.topinclude div.column div.column1200 form#searchform input#search {
  border: none;
  float: right;
  padding-top: 5px;
}

/**顶部include调用-END**/
/**底部include调用**/
div.includebottombox {
  position: relative;
}

div.includebottombox div.includebottom {
  width: 1200px;
  margin: 0 auto;
}

div.includebottombox div.includebottom ul.ib1 {
  width: 1200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
  padding: 0 100px;
  border-top: 2px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}

div.includebottombox div.includebottom ul.ib1 li {
  line-height: 56px;
  position: relative;
}

div.includebottombox div.includebottom ul.ib1 li::after {
  content: '';
  width: 3px;
  height: 19px;
  background: url(../img/common/common8.jpg);
  position: absolute;
  right: -60px;
  top: 18px;
}

div.includebottombox div.includebottom ul.ib1 li:last-child::after {
  background: none;
}

div.includebottombox div.includebottom ul.ib1 li.t {
  cursor: pointer;
}

div.includebottombox div.includebottom div.ib2 {
  width: 1000px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
}

div.includebottombox div.includebottom div.ib2 img.dzjg {
  padding-top: 20px;
  display: block;
  height: 62px;
}

div.includebottombox div.blackcover {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100% - 58px);
  background: rgba(0, 0, 0, 0.85);
  top: 58px;
}

div.includebottombox div.blackcover div.openlist {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}

div.includebottombox div.blackcover div.openlist img.close {
  cursor: pointer;
  display: block;
  float: right;
  clear: both;
  padding: 36px 0 12px;
}

div.includebottombox div.blackcover div.openlist ul.list li {
  width: 200px;
  line-height: 36px;
  float: left;
  color: #fff;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.includebottom2box {
  position: relative;
  background-position: center bottom;
  background-repeat: repeat-x;
  padding: 90px 0;
}

div.includebottom2box img.bgimg {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

div.includebottom2box div.includebottom2 {
  width: 1200px;
  margin: 0 auto;
}

div.includebottom2box div.includebottom2 ul.ib1 {
  width: 1200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  border-top: 2px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}

div.includebottom2box div.includebottom2 div.ib2 {
  width: 1000px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

div.includebottom2box div.includebottom2 div.ib2 img.dzjg {
  padding-top: 20px;
  display: block;
  height: 62px;
}

/**底部include调用-END**/
/**右侧栏目**/
div.includeright {
  width: 300px;
}

div.includeright img.a1 {
  display: block;
  margin: 0 auto;
}

div.includeright img.title {
  display: block;
  margin: 50px auto 30px;
  width: 300px;
}

div.includeright ul.list li {
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.includeright ul.hltph li img {
  display: block;
  width: 300px;
}

div.includeright ul.hltph li h1 {
  font-size: 16px;
  line-height: 1.6;
  padding: 12px 0 32px;
  text-align: center;
}

/**右侧栏目-END**/
/*# sourceMappingURL=pc_common.css.map */